.detail-left-user{
    text-align: center;
    background-color: #fff;
    padding: 35px;
}
.news-head{
	margin-bottom: 0;
}
.news-head h2{
	text-align: center;
}
.content-head-info{
	background-color: #F4F8FA;
	padding: 4px;
	margin: 0 30px;
}
.content-head-info span{
	padding-right: 20px;
}
.text-content{
	padding: 30px;
}