#navigator{
	background-color: #C9C9C9;margin-bottom: 10px;
}
#navigator ul.dropdown-menu{
    min-width: 110px;
}
#banner-index{
	max-width: 900px;max-height: 360px;overflow: hidden;margin: 0 auto;
}